In [1]:
import tensorflow
from tensorflow.keras.models import load_model
import numpy as np
import pandas as pd

In [2]:
import pickle

In [3]:
#load the trained model,label_encoder,onehot_encoder amd scaler pkl file

model=load_model('model.h5')

with open('label_encoder.pkl','rb') as file :
    label_encoder= pickle.load(file)
    
with open('onehotencoder.pkl','rb') as file:
    onehot_encoder=pickle.load(file)
    
with open('scaler.pkl','rb') as file:
    scaler_encoder = pickle.load(file)

WARNING:tensorflow:From d:\DL projects\customer_churn\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [12]:
#example input data

input_data={
    'CreditScore':619,
    'Geography': 'France',
    'Gender':'Female',
    'Age':42,
    'Tenure':2,
    'Balance':0.0,
    'NumOfProducts':1,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':101348.88,
}

In [13]:
#Onehot encoding on geography
geo_encoded = onehot_encoder.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder.get_feature_names_out(['Geography']))
geo_encoded_df

d:\DL projects\customer_churn\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [14]:
input_df=pd.DataFrame([input_data])

In [15]:
input_df['Gender']=label_encoder.transform(input_df['Gender'])
input_df

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France       0  ...          1               1        101348.88

[1 rows x 10 columns]

In [16]:
input_df=pd.concat([input_df.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [17]:
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0

[1 rows x 12 columns]

In [19]:
#scaling the data
input_scaled=scaler_encoder.transform(input_df)
input_scaled

array([[-0.33880827, -1.09499335,  0.29493847, -1.04241787, -1.21847056,
        -0.91668767,  0.64920267,  0.97481699,  0.01595384,  1.00150113,
        -0.57946723, -0.57638802]])

In [24]:
#predict the churn

prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 38ms/step

array([[0.34339404]], dtype=float32)

In [25]:
prediction_proba=prediction[0][0]

In [26]:
if prediction_proba>0.5:
    print('The customer is likely to churn')
    
else:
    print('The customer is not likely to churn')

The customer is not likely to churn